.aside {
    width: 20%;
    height: 800px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    opacity: 0.4;
    transition-property: all;
    transition-delay: 0s;
    transition-duration: 1s;

}

p {
    background-color: green;
    color: aliceblue;
    font-size: 50px;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
}

p {
    visibility: hidden;
}

/* input {
    display: none;
} */

input:checked+.aside {
    width: 80%;
    opacity: 1;
}

input:checked+p {
    visibility: visible;
}

p:hover {
    background-color: white;
    color: green;
    font-size: 70px;
}