section {
    width: 20%;
    height: 800px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    opacity: 0.4;
    transition-property: all;
    transition-delay: 0s;
    transition-duration: 1s;

}

p {
    background-color: green;
    color: aliceblue;
    font-size: 50px;
    transition-duration: 0.5s;
    opacity: 0;
}

div {
    background-color: green;
    transition-duration: 0.5s;
    height: 25%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside:hover p {
    width: 80%;
    opacity: 1;
}

.aside:hover {
    width: 80%;
    opacity: 1;

}

div:hover {
    background-color: azure;
}

div:hover p {
    background-color: azure;
    font-size: 70px;
    color: black;
}