body {
    background-color: antiquewhite;
}

div {
    width: 1000px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 3px solid rgb(214, 196, 172);
    border-radius: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    transition: all 1s;
    padding-right: 10px;
}

input {
    border: 3px solid rgb(214, 196, 172);
    border: 0px;
    background-color: antiquewhite;
    font-style: 20px;
    height: 24px;
    width: 0px;
    outline: none;
    box-shadow: none;
    transition: all 1s;
}

input:focus {
    width: 300px;
}