body {
    background-color: azure;
}

.container {
    border: 1px solid black;
    width: 1020px;
    height: 1020px;
    position: relative;
}

.square1 {
    position: absolute;
    background-color: white;
    box-shadow: 5px 5px #cecece;
    width: 150px;
    height: 150px;
    top: 350px;
    left: 350px;
}

.square2-1 {
    background-color: rgb(251, 5, 5);
    opacity: 0.3;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 350px;
    left: 350px;
    transition: all, 1s;
}

.square2 {
    position: absolute;
    background-color: white;
    box-shadow: 5px 5px #cecece;
    width: 150px;
    height: 150px;
    top: 350px;
    right: 350px;
}

.square2-2 {
    background-color: rgb(251, 5, 5);
    opacity: 0.3;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 350px;
    right: 350px;
    transition: all, 1s;
}

.square3 {
    position: absolute;
    background-color: white;
    box-shadow: 5px 5px #cecece;
    width: 150px;
    height: 150px;
    bottom: 350px;
    left: 350px;
}

.square2-3 {
    background-color: rgb(251, 5, 5);
    opacity: 0.3;
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 350px;
    left: 350px;
    transition: all, 1s;
}

.square4 {
    position: absolute;
    background-color: white;
    box-shadow: 5px 5px #cecece;
    width: 150px;
    height: 150px;
    bottom: 350px;
    right: 350px;
}

.square2-4 {
    background-color: rgb(251, 5, 5);
    opacity: 0.3;
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 350px;
    right: 350px;
    transition: all, 1s;
}

.container:hover .square2-1 {
    top: 0;
    left: 0;
    opacity: 1;
}

.container:hover .square2-2 {
    top: 0;
    right: 0;
    opacity: 1;
}

.container:hover .square2-3 {
    bottom: 0;
    left: 0;
    opacity: 1;
}

.container:hover .square2-4 {
    bottom: 0;
    right: 0;
    opacity: 1;
}