.hello-world {
    background-color: darkgray;
    color: white;
    margin: 200px;
    font-size: 50px;
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0s;
}

.shy {
    position: relative;
    top: -50px;
    right: -57px;
    text-align: center;
    background-color: red;
    border-radius: 50%;
    font-size: 40px;
    width: 50px;
    height: 50px;
    transition-property: right, top;
    transition-duration: 0.5s, 0.3s;
    transition-delay: 0s, 0.3s;
    transition-timing-function: ease-in;
}

.hello-world:hover {
    background-color: red;
    transition: 1s;
    transition-timing-function: linear;
}

.hello-world:hover .shy {
    z-index: -1;
    top: 20px;
    right: 150px;
}