* {
    box-sizing: border-box;
}

.container {
    width: 300px;
    height: 100px;
    border-radius: 50px;
    background-color: grey;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0s;
    border: 1px solid black;
    position: absolute;
    top: 0px;
    left: 0px;
}

.circle {
    /* display: block; */
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: white;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0s;
    border: 1px solid black;
    top: 0px;
    left: 0px;
}

input {
    /* display: none; */
    position: absolute;
    top: 200px;
}


/* input:checked+.container {
    background-color: green;
    justify-content: end;

} */


input:checked~.circle {
    left: 200px;
}